# Server
PORT="8080"
PLATFORM="dev"
BASE_URL="http://localhost:8080"

# Database
DB_URL="postgres://user:password@localhost:5432/cardinal?sslmode=disable"

# Auth
JWT_SECRET="your_generated_jwt_secret_here"

# RabbitMQ
RABBITMQ_URL="amqp://guest:guest@localhost:5672/""

# SMTP (email notifications)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USERNAME="your_email@gmail.com"
SMTP_PASSWORD="your_gmail_app_password"

